*{
    font-family: Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite ;
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    height: 100vh;
}
.container > button{
    font-size: 30px;
    font-weight: 500;
    border-style: none;
    border: 1px solid gray;
}
#display{
    grid-column: 1/-1;
    background-color: rgb(102, 98, 98);
    color: white;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.two-wide{
    grid-column: span 2;
}
.operator, #equals{
    background-color: rgba(248, 150, 4, 0.965);
    color: white;
}
#all-clear, #delete{
    background-color: rgb(212, 201, 201);
}
.two-wide.number{
    border-bottom-left-radius: 10px;
}
#equals{
    border-bottom-right-radius: 10px;
}